{% extends "base.html" %}
{% block content %}

    <!-- custom 404 page -->
    <body>
        <div class="container center-align">
            <div class="card">
                <h1>Cor Blimey!</h1>
                <div>
                    <p>Something's Gone Up The Spout Here With Loading The Page. Head back over to the <a href=" {{ url_for('home') }}">home page</a></p>  
                    <p>The reason was...</p>
                    <p>{{ exception }}</p>
                </div>
            </div>
        </div>
    </body>


{% endblock %}