{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Your Own Cockney Word or Phrase</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_cockney') }}">
            <div class="card-panel">
                <!-- word/phrase -->
                <div class="row">
					<div class="input-field col s12">
						<input id="word" name="word" type="text" minlength="3"
                            maxlength="30" class="validate">
						<label for="word">Word/Phrase</label>
					</div>
                </div>
                <!-- meaning -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="meaning" name="meaning" type="text" minlength="3"
                            maxlength="100" class="materialize-textarea validate" required>
                        <label for="meaning">Meaning</label>
                    </div>
                </div>
               
                <!-- upload button -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large text-shadow">
                        Add To Dictionary
                    </button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}