{% extends "base.html" %}
{% block content %}

<p>Have you got something cockney to shout about? Get in touch today!</p>

<!--Contact Form-->
        <!--Code for contact form starts. Credit to: https://codepen.io/SeanWhelan/pen/avMWqQ I have added modifications and custom css-->
        <div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text-center contact-form">
                            <div class="contact-us text-center">
                                <h3>Contact us</h3>
                            </div>
                            <form onsubmit="return sendMail(this);" class="form-style form-content-center" method="post" data-form-title="CONTACT US">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" id="fullname" required="" placeholder="Name*" data-form-field="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="emailaddress" name="emailaddress" required="" placeholder="Email*" data-form-field="Email">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="message" name="message" placeholder="Message" rows="7" data-form-field="Message"></textarea>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-lg btn-danger text-uppercase contact-button">Send Message</button>
                            </div>
                            </form>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    <!--Code for contact form finishes. Credit to: https://codepen.io/SeanWhelan/pen/avMWqQ I have added modifications and custom css-->

{% endblock %}