{% extends "base.html" %}
{% block content %}

    <!-- contact heading -->
    <div class="container center-align">
        <h3>Contact</h3>
        <div>
            <p class="contact-subtitle">Have you got something cockney to shout about? Get in touch today!</p>
        </div>
    </div>


<!-- contact form -->
        <!--Code for contact form starts. Credit to: https://codepen.io/SeanWhelan/pen/avMWqQ I have added modifications and custom css-->
    <main>
        <div class="container center-align">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text-center contact-form">
                            <div class="contact-us text-center">
                                <h4>Fill out the form below</h4>
                            </div>
                            <form onsubmit="return sendMail(this);" class="form-style form-content-center" method="post" data-form-title="CONTACT US">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" id="fullname" required="" placeholder="Name*" data-form-field="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="emailaddress" name="emailaddress" required="" placeholder="Email*" data-form-field="Email">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="message" name="message" placeholder="Message" rows="20" data-form-field="Message"></textarea>
                            </div>
                            <div>
                                <button type="submit" class="btn-edit btn-large">Send Message</button>
                            </div>
                            </form>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </main>
{% block scripts %}

<!-- EmailJS -->
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init("user_8VtcJ1eliozhELeZSRtax");
   })();
</script>

<!-- Static JS File-->

<script src="{{ url_for('static', filename='js/contact.js')}}"></script>

{% endblock %}
{% endblock %}