{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Edit Cockney</h3>

    <!-- Edit Cockney Form -->
    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('edit_cockney', cockney_id=cockney._id) }}">
          
            <!-- cockney word-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="word" name="word" minlength="5" maxlength="50" 
                    value="{{ cockney.word }}" type="text" class="validate" required>
                    <label for="word">Cockney Word</label>
                </div>
            </div>
            <!-- cockney description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4 prefix"></i>
                    <textarea id="meaning" name="meaning" minlength="5"
                    maxlength="200" class="materialize-textarea validate" required>
                  
                </textarea>
                <label for="meaning">Cockney Meaning</label>
                </div>
            </div>
           
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="" class="btn-large red text-shadow">Cancel
                        <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large">
                        Edit Task <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>

        </form>
    </div>
        
{% endblock %}