{% extends "base.html" %}
{% block content%}
    <!-- Page Title -->
    <div class="header center-align">
        <div class="title">
            <h1 >Pop Goes The Weasel</h1>
        </div>
        <div class="subtitle">
            <h4 >Your Interactive Cockney Dictionary</h4>
        </div>
    </div>

    <!-- Hero Image -->
    <div class="hero-img img-container img">
        
    </div>














    {% for word in dictionary %}
        <h1>{{ word.word }}</h1><br>
        {{ word.meaning }}
    {% endfor %}
    
{% endblock %}

