{% extends "base.html" %}
{% block content%}

    <!-- Page Title -->
    
    <section>
        <div class="header center-align">
            <div class="title">
                <h1 >Pop Goes The Weasel</h1>
            </div>
            <div class="subtitle">
                <h4 >Your Interactive Cockney Dictionary</h4>
            </div>
        </div>
    </section>

    <!-- Hero Image -->
    <div class="hero-img img-container img"></div>

    <!-- How It Works -->

    <section class="instruction center-align">
        <h3 class="instruction-title">How it works?</h3>
            <div class="instruction-heading">
                <h4>Register your account</h4>
                <p>Sign up today to make a contribution to the Pop Goes The Weasel community</p>
            </div>
            <div class="instruction-heading">
                <h4 class="center-align">Sign in</h4>
                <p>Once you are signed in head to Add Cockney Phrases</p>
            </div>
            <div class="instruction-heading">
                <h4>Add your own Cockney phrase</h4>
                <p>Type in your word and meaning and let us all in on the secret world of cockney slang!</p>
            </div>
    </section>

    <!-- View Cockney Dictionary -->
    <section class="center-align">
        <!-- Circle-img -->
        <div class="row">
            <div class="center-align">
                <img src="../static/images/london_piccadilly_circus.jpg" class="responsive-img circle" alt="Image Circle"> 
            </div>
        </div>

        <!-- Cockney Dictionary -->
        <div class="dictionary-container">
            <h3 class="dictionary-title">Cockney Dictionary</h3>
        </div>
        <div class="dictionary-python">
        {% for word in dictionary %}
            <h3>{{ word.word }}</h3><br>
            <h5>{{ word.meaning }}</h5>
        {% endfor %}
        </div>
    </section>














    
{% endblock %}

