{% extends "base.html" %}
{% block content%}

    <!-- Page Title -->
    
    <section>
        <div class="header center-align">
            <div class="title">
                <h1 >Pop Goes The Weasel</h1>
            </div>
            <div class="subtitle">
                <p class="subtitle">Your Interactive Cockney Dictionary</p>
            </div>
        </div>
    </section>

    <!-- Hero Image -->

    <div class="hero-img img-container img"></div>

    <!-- How It Works -->

    <section class="instruction center-align">
        <h2 class="instruction-title">How it works?</h2>
            
            <div class="instruction-heading">
                <h3>Register your account</h3>
                <p>Sign up today to make a contribution to the Pop Goes The Weasel community</p>
            </div>
            
            <div class="instruction-heading">
                <h3 class="center-align">Sign in</h3>
                <p>Once you are signed in head to Add Cockney Phrases</p>
            </div>
            
            <div class="instruction-heading">
                <h3>Add your own Cockney phrase</h3>
                <p>Type in your word and meaning and let us all in on the secret world of cockney slang!</p>
            </div>
            <br>
    </section>

    <!-- Dictionary Circle Image -->
        <div class="container center-align"> 
            <div class="row">
                <div class="center-align">
                    <img src="../static/images/london_piccadilly_circus.jpg" class="responsive-img circle" alt="Image Circle"> 
                </div>
            </div>
        </div>

    <!-- Cockney History -->

    <section>
        <div class="container container-history">
            <div class="row">
                <div class="col s12">
                    <br>
                    <h4>A History of Cockney Folk and their Rhyming Slang</h4>
                    <!-- Text credit: http://projectbritain.com/cockney -->
                        <p>The cockney language can be traced back to the early part of the 19th Century, when Sir Robert Peel formed the first Police force stationed at Bow Street, London. They were known as the Bow Street Runners, Peelers and even Bobbies (Robert - Bob). This was in 1824, and the slang, as mentioned above, was to hide the true meaning of discussions from both the Police and the nonces (informers for the Police).
                    </p>
                    <br>
                    <h4>What or who is a Cockney?</h4>
                        <p>A cockney traditionally is a person born within hearing distance of the sound of Bow bells, meaning within the sound of the bells of the Church of St Mary Le Bow in Cheapside, London, EC2 and refers to an East London accent, however to most people living outside London the term Cockney means a Londoner.
                    </p>
                    <br>
                    <h4>What is Cockney Rhyming Slang?</h4>
                        <p>Cockney Rhyming slang is a coded language invented in the nineteenth century by Cockneys so they could speak in front of the police without being understood. It uses a phrase that rhymes with a word, instead of the word itself – thus ‘stairs’ becomes ‘apples and pears’, ‘phone’ becomes ‘dog and bone' and ‘word’ becomes ‘dicky bird’. It can become confusing when sometimes the rhyming part of the word is dropped: thus ‘daisies’ are ‘boots’ (from ‘daisy roots’).
                        </p>
                    <br>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}

