{% extends "base.html" %}
{% block content %}

    <!-- Profile Heading -->
    <div class="div container center-align">
        <h3 class="profile-title ">{{ username }}'s Profile</h3>
        <h5 class="profile-subtitle">Your Contribution to the Dictionary</h5>
    </div>
    
    <!-- Profile User Display Dictionary Contribution -->
    {% for cockney in dictionary %}
    <div class="container">
        <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        <div class="s3"><i class="fas fa-caret-down"></i></div>
                        <a href="{{ url_for('edit_cockney', cockney_id=cockney._id) }}" class="btn-small btn-edit">Edit</a>
                        <a href="{{ url_for('delete_cockney', cockney_id=cockney._id) }}" class="btn-small btn-delete">Delete</a>
                    </div>
                    <div class="collapsible-body">
                        <span><strong>Word: </strong>{{ cockney.word }}</span><br>
                        <span><strong>Meaning: </strong>{{ cockney.meaning }}</span>
                    </div>
                </li>
        </ul>
    </div>
    {% endfor %}

{% endblock %}